main {
  overflow: auto;
  padding: 6.4rem;

  & .main-container {
    display: grid;
    gap: 4.8rem;

    max-width: 52.8rem;
    margin-left: auto;
  }

  & #back {
    margin-bottom: 2.4rem;
    border: none;

    & a {
      display: flex;
      gap: .8rem;
      align-items: center;

      background-color: var(--surface-primary);
      text-decoration: none;
    }
    
    & p {
      font: var(--text);
      color: var(--text-secondary);
    }
  }
}

aside {
  padding: 6.4rem;
  background-color: var(--surface-secondary);

  & .aside-container {
    display: grid ;
    gap: 3.2rem;

    max-width: 49.6rem;
    margin-right: auto;

    & h2 {
      font-size: 4rem;

      & span {
        color: var(--stroke-highlight);
      }
    }
  }
}